services:
  hytale-server:
    image: dylanwilks/docker-hytale-server
    container_name: hytale-server
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 5520:5520/udp
    volumes:
      - ./data:/data
    stdin_open: true
    tty: true
