TICKING=true
BLOCK_TICKING=true
PVP=false
FALL_DAMAGE=true
GAME_TIME_PAUSED=false
SPAWN_NPCS=true
SPAWN_MARKERS=true
FROZEN_NPCS=false
COMPASS_UPDATING=true
SAVING_PLAYERS=true
SAVING_CHUNKS=true
SAVE_NEW_CHUNKS=true
UNLOADING_CHUNKS=true
OBJECTIVE_MARKERS=true
DELETE_ON_REMOVE=false
